/* Điểm ưu tiên = 1 */
h1 {
  background-color: red;
}

/* Điểm ưu tiên = 110 */
.section1 #title1 {
  background-color: blue;
}

/* Điểm ưu tiên = 100 */
#title1 {
  background-color: green;
}

/* Điểm ưu tiên = 10 */
.heading1 {
  background-color: yellow;
}

/* Điểm ưu tiên = 100 */
#title1 {
  background-color: pink;
}

/* Điểm ưu tiên = 110 ,code nằm bên dưới có độ ưu tiên cao hơn*/
.section1 #title1 {
  background-color: brown;
}

/* Điểm ưu tiên = 110 */
.heading1#title1 {
  background-color: purple;
}
